* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%; /* Diminuindo para melhor adaptação em telas menores */
    max-width: 1200px; /* Tamanho máximo da tela */
    min-height: 50vh;
    display: flex;
    flex-direction: column; /* Alinha os campos verticalmente */
    justify-content: center; 
    align-items: center;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.container__conteudo {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    flex-direction: column; /* Garante o layout em coluna */
}

.container__informacoes {
    width: 100%;
    padding: 3rem;
    text-align: center; /* Centraliza o texto */
}

.container__campo {
    margin-bottom: 30px; /* Aumentando o espaçamento entre campos */
}

.container__input {
    width: 200px; /* Aumentando a largura dos inputs */
    height: 60px; /* Ajustando a altura */
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 0 1rem; /* Ajuste no padding */
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin: 10px 0; /* Margem para separar os inputs */
}

.container__texto{
    margin: 30px;
}

.container__botoes {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 1em;
    margin-top: 20px; /* Espaço extra acima dos botões */
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    font-size: 24px;
    width: 250px; /* Tamanho dos botões */
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.container__botao-desabilitado {
    border-radius: 16px;
    background: #6f6f70;
    padding: 16px 24px;
    font-size: 24px;
    width: 250px;
    font-weight: 700;
    border: none;
    cursor: not-allowed;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    padding: 2rem;
    text-align: center;
}

.texto__paragrafo {
    color: #FFF;
    font-family: 'Inter';
    font-size: 29px;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
}

button:disabled {
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%; /* Para dispositivos móveis, uso de maior largura */
    }

    h1 {
        font-size: 50px;
    }

    .container__input {
        width: 100%; /* Inputs ocupando toda a largura */
        font-size: 20px;
        padding: 0.5rem;
    }

    .container__botao {
        width: 100%; /* Botões se adaptando à largura */
    }
}

@media screen and (max-width: 1250px) {
    .container__imagem-pessoa {
        display: none;
    }

    h1 {
        font-size: 50px;
    }
}
